.container_header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;

}

.box_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
    height: 80px;
    padding: 0 15px 0 15px;
}

.logo {
    width: 132px;
    height: 40px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 447px;
}

.menu a:hover {
    color: #1ED760;
    cursor: pointer;
}

.menu img {
    border-radius: 50%;
    background: white;
    width: 40px;
    height: 40px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile svg {
    margin-left: 8px;
    margin-top: 4px;
}

.mobile_menu  {
    display: none;
}



@media screen and ( max-width: 768px ) {
    .box_header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 55px;
        padding: 0 10px 0 10px;
    }
    
    .logo {
        width: 90px;
        height: 26px;
    }

    .menu {
        color: black;
    }

    .menu a{
        display: none;
    }

    .profile {
        display: none;
    }

    .mobile_menu  {
        display: flex;
        align-items: center;
        background: none;
        border: 0;
        color: white;
        font-size: 24px;
    }

    .menu_profile {
        border-radius: 50%;
        background: white;
        width: 32px;
        height: 32px;
    }

    .mobile_menu button {
        display: flex;
        align-items: center;
        border: 0;
        background: none;
        color: white;
        font-size: 28px;
        margin-left: 10px;
    }
    
}